html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#github-ribbon {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 100;
}

#map {
  width: 600px;
  height: 400px;
}

#map {
  height: 100%;
  width: 100vw;
  z-index: 10;
}

#data {
  background-color: #fff;
  border: 1px solid #333;
  position: fixed;
  bottom: 30px;
  right: 0;
  width: 80%;
  z-index: 100;
  font-size: 20px;
}

#bottom-sheet {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color:rgba(255,255,255,1);
  transition: transform 0.2s ease-in;
  transform: translateY(90%);
  overflow: auto;
  display: flex;
  flex-direction: column;
  display: none;
}
#bottom-sheet.appear {
  display: block;
}

#bottom-sheet .title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 200;
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(33, 33, 33, 0.3);
}

#bottom-sheet.active {
  transition: transform 0.2s ease-in;
  transform: translateY(0);
}

#listing {
  padding: 1rem;
}

#bottom-sheet .item.card {
  width: 100% !important;
  margin-bottom: 1rem;
}
